---
import Layout from '../layouts/Layout.astro';
import '../styles/global.css';
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Mi Página Astro</title>
  </head>
  <body>
    <h1 class="text-4xl font-bold text-center text-blue-600">
      ¡Hola desde Astro + Tailwind!
    </h1>
  </body>
</html>
<Layout />
