---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <h1 class="text-3xl font-bold mb-4">Sobre Nosotros</h1>
  <p>
    Conoce más acerca de nuestra empresa, nuestros valores y nuestro equipo.
  </p>
</Layout>
