<nav class="bg-blue-600 text-white p-4">
  <div class="container mx-auto flex justify-between items-center">
    <a href="/" class="text-xl font-bold">Mi Empresa</a>
    <ul class="flex space-x-4">
      <li><a href="/" class="hover:underline">Inicio</a></li>
      <li><a href="/nosotros" class="hover:underline">Nosotros</a></li>
      <li><a href="/blog" class="hover:underline">Blog</a></li>
      <li><a href="/contacto" class="hover:underline">Contacto</a></li>
    </ul>
  </div>
</nav>
